@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Skylight Grafitti";
  src: url("./../public/fonts/Skylight\ Grafitti.otf") format("truetype");
}
@font-face {
  font-family: "Poppins Regular";
  src: url("./../public/fonts/Poppin\ Regular.otf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#general-snackbar {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.bg-header {
  background-image: url("./../public/image/bg_header.svg");
  background-size: cover;
  width: 100%;
  height: 93px;
}

.items-menu {
  padding-top: 15px;
  font-weight: bold;
  color: aliceblue;
}

.bg-login {
  background-image: url("/image/bg_login.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.back-to-home {
  font-size: 24px;
  position: absolute;
  left: 150px;
  top: 150px;
}

.onw-font-size {
  font-size: 35px;
}

.own-font-text {
  font-family: "Poppins Regular";
}

.own-font {
  font-family: "Skylight Grafitti";
}

.own-border-top {
  border: 1px solid #f1ebeb;
}

.own-font-border {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 3px black;
}
